@keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes movesR100 {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(100px);
  }

  to {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes movesR100 {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(100px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes movesR50 {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50px);
  }

  to {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes movesR50 {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50px);
  }

  to {
    transform: translate(0, 0);
  }
}



@keyframes movesL100 {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-100px);
  }

  to {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes movesL100 {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-100px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes movesL50 {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-50px);
  }

  to {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes movesL50 {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-50px);
  }

  to {
    transform: translate(0, 0);
  }
}


@keyframes fadeLong {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  20% {
    transform: translate(5px, 5px);
    opacity: 0.5;
  }

  50% {
    transform: translate(8px, -5px);
    opacity: 1;
  }

  80% {
    transform: translate(-5px, 5px);
    opacity: 0.3;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeLong {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  20% {
    transform: translate(5px, 5px);
    opacity: 0;
  }

  50% {
    transform: translate(8px, -5px);
    opacity: 1;
  }

  80% {
    transform: translate(-5px, 5px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
