@font-face {
  font-family: "ALBBphuhui";
  font-weight: 400;
  /* src: url("./ALIBABA-PUHUITI-MEDIUM.TTF"); */
  src: url-loader("./ALIBABA-PUHUITI-MEDIUM.TTF") format("ttf"),
    url-loader("./ALIBABA-PUHUITI-REGULAR.TTF") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Dinpro";
  src: url-loader("./DINPRO-MEDIUM.TTF");
}
